.frame-child14 {
    width: 290px;
    height: 271px;
    position: relative;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    display: none;
  }
  .image-4-icon {
    height: 124px;
    width: 121px;
    position: relative;
    object-fit: cover;
    z-index: 1;
  }
  .image-4-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-37xl);
  }
  .become-volunteer {
    flex: 1;
    position: relative;
    font-weight: 600;
    z-index: 1;
  }
  .become-volunteer-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-4xl);
  }
  .lorem-ipsum-dolor3 {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 500;
    color: var(--color-darkslategray-100);
    white-space: pre-wrap;
    z-index: 1;
  }
  .rectangle-parent3 {
    flex: 1;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-8xl) var(--padding-12xl);
    gap: var(--gap-8xs);
    min-width: 217px;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  @media screen and (max-width: 450px) {
    .become-volunteer {
      font-size: var(--font-size-base);
    }
  }
  