global.css
.our-campaign {
  margin: 0;
  width: 303px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
    }
.our-campaign-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.frame-child18 {
  align-self: stretch;
  height: 302px;
  background-color: var(--color-white);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: none;
}
.frame-child18,
.frame-child19,
.frame-child20 {
  position: relative;
  border-radius: var(--br-3xs);
}
.frame-child19 {
  height: 201px;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child20 {
  height: 34px;
  width: 101px;
  background-color: var(--color-teal);
  display: none;
}
.clothes {
  flex: 1;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  z-index: 1;
}
.rectangle-parent8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-3xl) var(--padding-8xs)
    var(--padding-2xl);
  background-color: var(--color-teal);
  width: 101px;
  margin: 0 !important;
  position: absolute;
  bottom: -11px;
  left: 18px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  z-index: 2;
}
.rectangle-parent8:hover {
  background-color: var(--color-darkcyan);
}
.frame-wrapper21,
.rectangle-parent7,
.rectangle-parent8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent7 {
  flex: 1;
  position: relative;
}
.frame-wrapper21 {
  align-self: stretch;
  padding: 0 0 var(--padding-mid);
}
.help-us-to1 {
  width: 155px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.frame-child21,
.line-icon {
  height: 4px;
  position: relative;
  z-index: 1;
}
.line-icon {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child21 {
  width: 148px;
}
.frame-wrapper24,
.vector-parent {
  height: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-parent {
  flex: 1;
  flex-direction: column;
}
.frame-wrapper24 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.donators1 {
  width: 49px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.frame-parent27,
.frame-wrapper23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent27 {
  align-self: stretch;
  gap: var(--gap-2xs);
}
.frame-wrapper23 {
  flex: 1;
  padding: var(--padding-xs) 0 0;
}
.div1 {
  width: 38px;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 600;
  color: var(--color-teal);
  display: inline-block;
  z-index: 1;
}
.frame-parent26 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xs);
  margin-top: -3px;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.frame-parent26,
.frame-wrapper22,
.help-us-to-send-food-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.help-us-to-send-food-group {
  flex: 1;
  flex-direction: column;
}
.frame-wrapper22 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-smi) 0 var(--padding-lg);
}
.div2 {
  flex: 1;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.wrapper {
  width: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
}
.frame-child22,
.rectangle-parent6 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-gainsboro-100);
}
.rectangle-parent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  color: var(--color-teal);
}
.frame-child22 {
  width: 290px;
  height: 302px;
  position: relative;
  box-sizing: border-box;
  display: none;
  z-index: 0;
}
.frame-child23 {
  width: 100%;
  height: 201px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.frame-child24 {
  height: 34px;
  width: 101px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-200);
  display: none;
}
.medical {
  flex: 1;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  z-index: 1;
}
.rectangle-parent10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-2xl) var(--padding-8xs)
    var(--padding-xl);
  background-color: var(--color-steelblue-200);
  width: 101px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 2;
}
.rectangle-parent10:hover {
  background-color: var(--color-steelblue-100);
}
.help-us-to2 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.frame-parent29 {
  width: 155px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.shape-combiner-child {
  align-self: stretch;
  height: 4px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.shape-combiner-item {
  width: 148px;
  height: 4px;
  position: relative;
  z-index: 1;
}
.link-validator,
.shape-combiner {
  height: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.shape-combiner {
  flex: 1;
  flex-direction: column;
}
.link-validator {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.donators2 {
  width: 49px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.image-filter,
.text-formatter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-filter {
  align-self: stretch;
  gap: var(--gap-2xs);
}
.text-formatter {
  flex: 1;
  padding: var(--padding-xs) 0 0;
}
.text-aligner {
  width: 38px;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 600;
  color: var(--color-steelblue-300);
  display: inline-block;
  z-index: 1;
}
.frame-parent28,
.position-manager {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.position-manager {
  flex-direction: row;
  gap: var(--gap-5xs);
  margin-top: -3px;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.frame-parent28 {
  flex-direction: column;
}
.div3 {
  width: 20px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.rectangle-parent9 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-gainsboro-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-159xl) var(--padding-xs) var(--padding-10xs)
    var(--padding-mid);
  position: relative;
  color: var(--color-steelblue-300);
}
.button8,
.frame-parent25 {
  font-size: var(--font-size-mini);
}
.frame-parent25 {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-34xl);
  grid-template-columns: repeat(4, minmax(217px, 1fr));
}
.button8 {
  position: relative;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.button-wrapper5,
.shape-splitter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-wrapper5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg-5) var(--padding-44xl);
  background-color: var(--color-gray);
  border-radius: var(--br-51xl);
  justify-content: flex-start;
  white-space: nowrap;
}
.button-wrapper5:hover {
  background-color: var(--color-dimgray-100);
}
.shape-splitter {
  align-self: stretch;
  justify-content: center;
  /* padding: 0 var(--padding-xl); */
  padding-bottom:15px;

}
.frame-parent24,
.landing-page-inner2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent24 {
  width: 1319px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.landing-page-inner2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1050px) {
  .frame-parent25 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(217px, 377px));
  }
}
@media screen and (max-width: 750px) {
  .our-campaign {
    font-size: var(--font-size-13xl);
  }
  .frame-parent25 {
    gap: 53px 26px;
  }
  .frame-parent24 {
    gap: 32px 64px;
  }
}
@media screen and (max-width: 450px) {
  .our-campaign {
    font-size: var(--font-size-5xl);
  }
  .frame-parent25 {
    grid-template-columns: minmax(217px, 1fr);
  }
}