.frame-child5 {
    width: 1312px;
    height: 538px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-yellowgreen-100);
    display: none;
    max-width: 100%;
  }
  .fundraising-on-buddha {
    margin: 0;
    width: 736px;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 2;
  }
  .fundraising-on-buddha-trust-ta-wrapper {
    width: 1018px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .frame-child6 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
  }
  .png-transparent-smiley-emotico-icon {
    position: absolute;
    top: 17.9px;
    left: 16.8px;
    width: 92px;
    height: 89.1px;
    object-fit: contain;
    z-index: 1;
  }
  .ellipse-group {
    height: 125px;
    flex: 1;
    position: relative;
  }
  .frame-wrapper4,
  .frame-wrapper5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper5 {
    flex: 1;
  }
  .frame-wrapper4 {
    align-self: stretch;
    padding: 0 var(--padding-21xl);
  }
  .give-happiness {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .give-happiness-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-5xs);
  }
  .giving-happiness-to {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 500;
  }
  .group-div {
    width: 206px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs-5);
  }
  .frame-child7 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-white);
    width: 125px;
    height: 125px;
  }
  .doodle-heart-symbol-sketch-lov-icon {
    position: absolute;
    top: 17px;
    left: 13px;
    width: 106.6px;
    height: 115px;
    object-fit: contain;
    z-index: 1;
  }
  .ellipse-parent1 {
    height: 132px;
    flex: 1;
    position: relative;
  }
  .frame-wrapper7 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-9xs);
  }
  .share-love {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .frame-parent7,
  .frame-wrapper6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent7 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-10xs);
  }
  .frame-wrapper6 {
    width: 197px;
    flex-direction: row;
    padding: 0 var(--padding-13xl);
    box-sizing: border-box;
  }
  .when-you-share {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 500;
  }
  .frame-parent6 {
    width: 206px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xs);
  }
  .frame-child8 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
  }
  .group-icon {
    position: absolute;
    top: 20px;
    left: 25px;
    width: 81px;
    height: 81px;
    z-index: 1;
  }
  .ellipse-parent2 {
    height: 125px;
    flex: 1;
    position: relative;
  }
  .frame-wrapper8,
  .frame-wrapper9 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper9 {
    flex: 1;
  }
  .frame-wrapper8 {
    width: 197px;
    padding: 0 var(--padding-17xl);
    box-sizing: border-box;
  }
  .build-socially {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .build-socially-wrapper {
    width: 196px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-mid);
    box-sizing: border-box;
  }
  .building-socially-requires {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 500;
  }
  .frame-parent5,
  .frame-parent8 {
    width: 206px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs-5);
  }
  .frame-parent5 {
    width: 1018px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
    z-index: 2;
    font-size: var(--font-size-5xl);
  }
  .rectangle-parent1 {
    align-self: stretch;
    border-radius: var(--br-xl);
    background-color: var(--color-yellowgreen-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-38xl) var(--padding-xl) var(--padding-65xl);
    box-sizing: border-box;
    gap: var(--gap-36xl);
    max-width: 100%;
    z-index: 1;
  }
  .frame-child9 {
    width: 244px;
    height: 255px;
    position: relative;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child10,
  .frame-child11 {
    height: 72px;
    width: 72px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
  }
  .frame-child11 {
    height: 56px;
    width: 56px;
  }
  .ellipse-parent3,
  .frame-wrapper12 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .ellipse-parent3 {
    align-items: flex-end;
    gap: var(--gap-mid);
  }
  .frame-wrapper12 {
    align-items: flex-start;
    padding: 0 var(--padding-lgi);
  }
  .frame-child12 {
    width: 56px;
    height: 55px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
  }
  .ellipse-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-5xs);
  }
  .frame-child13 {
    height: 72px;
    width: 72px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
  }
  .frame-parent12,
  .frame-wrapper13 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .frame-parent12 {
    align-items: flex-end;
    gap: var(--gap-mid);
  }
  .frame-wrapper13 {
    align-items: flex-start;
    padding: 0 var(--padding-xl);
  }
  .million-people-in1 {
    align-self: stretch;
    height: 39px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-parent11,
  .rectangle-parent2 {
    align-self: stretch;
    flex-direction: column;
  }
  .frame-parent11 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-smi);
  }
  .rectangle-parent2 {
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-gainsboro-100);
    padding: var(--padding-4xs) var(--padding-xl) var(--padding-2xl)
      var(--padding-2xl);
    gap: var(--gap-10xl);
  }
  .frame-parent10,
  .frame-wrapper11,
  .rectangle-parent2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper11 {
    width: 244px;
    flex-direction: column;
    padding: var(--padding-5xl) 0 0;
    box-sizing: border-box;
    min-width: 244px;
  }
  .frame-parent10 {
    width: 566px;
    flex-direction: row;
    gap: var(--gap-13xl);
    min-width: 566px;
    max-width: 100%;
  }
  .no-more-homeless,
  .no-more-hunger {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
  }
  .no-more-homeless {
    width: 339px;
    max-width: 100%;
  }
  .no-more-hunger {
    width: 294px;
    z-index: 1;
  }
  .lorem-ipsum-dolor1 {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-lg);
    font-weight: 500;
    color: var(--color-darkslategray-100);
    white-space: pre-wrap;
    text-align: left;
    z-index: 1;
  }
  .no-more-hunger-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-lgi);
    gap: var(--gap-7xs);
  }
  .button4 {
    position: relative;
    font-size: var(--font-size-mini);
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
  }
  .button-wrapper1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-lg-5) var(--padding-18xl-5);
    background-color: var(--color-gray);
    border-radius: var(--br-51xl);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
  }
  .button-wrapper1:hover,
  .button-wrapper2:hover {
    background-color: var(--color-dimgray-100);
  }
  .no-more-homeless-parent {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .frame-parent9,
  .frame-wrapper10,
  .frame-wrapper14,
  .no-more-homeless-parent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-wrapper14 {
    width: 603px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-6xl) 0 0;
    box-sizing: border-box;
    min-width: 603px;
    font-size: var(--font-size-17xl);
  }
  .frame-parent9,
  .frame-wrapper10 {
    flex-direction: row;
  }
  .frame-parent9 {
    width: 1259px;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-wrapper10 {
    align-self: stretch;
    justify-content: flex-end;
    padding: 0 0 var(--padding-sm);
    box-sizing: border-box;
    font-size: var(--font-size-mini);
  }
  .great-futures-are {
    margin: 0;
    width: 499px;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .lorem-ipsum-dolor2 {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-lg);
    font-weight: 500;
    color: var(--color-darkslategray-100);
    white-space: pre-wrap;
    z-index: 1;
  }
  .great-futures-are-built-with-a-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-smi);
    max-width: 100%;
  }
  .button5 {
    position: relative;
    font-size: var(--font-size-mini);
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
  }
  .button-wrapper2,
  .frame-parent14,
  .frame-wrapper15 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button-wrapper2 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-lg-5) var(--padding-18xl-5);
    background-color: var(--color-gray);
    border-radius: var(--br-51xl);
    flex-direction: row;
    white-space: nowrap;
    z-index: 1;
  }
  .frame-parent14,
  .frame-wrapper15 {
    flex-direction: column;
    max-width: 100%;
  }
  .frame-parent14 {
    align-self: stretch;
    gap: var(--gap-15xl);
  }
  .frame-wrapper15 {
    flex: 1;
    padding: 0 0 var(--padding-15xl);
    box-sizing: border-box;
    min-width: 461px;
  }
  .wrapper-rectangle-6-child {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: contain;
    position: absolute;
    left: 4px;
    top: 4px;
    transform: scale(1.229);
  }
  .wrapper-rectangle-6 {
    height: 350px;
    width: 555px;
    position: relative;
    border-radius: var(--br-3xs);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame-parent13 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-31xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-21xl);
  }
  .frame-parent4,
  .frame-wrapper3 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent4 {
    width: 1322px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-67xl);
  }
  .frame-wrapper3 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-17xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  @media screen and (max-width: 1225px) {
    .frame-parent10,
    .frame-wrapper14 {
      flex: 1;
    }
    .frame-parent9 {
      flex-wrap: wrap;
    }
    .wrapper-rectangle-6-child {
      flex: 1;
    }
    .frame-parent13 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 750px) {
    .fundraising-on-buddha {
      font-size: var(--font-size-10xl);
    }
    .frame-parent5 {
      flex-wrap: wrap;
      justify-content: center;
    }
    .rectangle-parent1 {
      gap: 27px 55px;
      padding-top: var(--padding-18xl);
      padding-bottom: var(--padding-36xl);
      box-sizing: border-box;
    }
    .frame-wrapper11 {
      flex: 1;
    }
    .frame-parent10 {
      flex-wrap: wrap;
      gap: 32px 16px;
      min-width: 100%;
    }
    .no-more-homeless,
    .no-more-hunger {
      font-size: var(--font-size-10xl);
    }
    .frame-wrapper14 {
      min-width: 100%;
    }
    .great-futures-are {
      font-size: var(--font-size-13xl);
    }
    .frame-parent14 {
      gap: 17px 34px;
    }
    .frame-wrapper15 {
      min-width: 100%;
    }
    .frame-parent13 {
      gap: 50px 25px;
    }
    .frame-parent4 {
      gap: 43px 86px;
    }
  }
  @media screen and (max-width: 450px) {
    .fundraising-on-buddha {
      font-size: var(--font-size-3xl);
    }
    .build-socially,
    .give-happiness,
    .share-love {
      font-size: var(--font-size-lgi);
    }
    .no-more-homeless,
    .no-more-hunger {
      font-size: var(--font-size-3xl);
    }
    .great-futures-are {
      font-size: var(--font-size-5xl);
    }
    .frame-parent4 {
      gap: 21px 86px;
    }
  }